name: Build and Push OCI
run-name: build-and-push-oci
on: ['push']
jobs:
  build:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v2
      - uses: docker/login-action@v1
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Build and Push OCI Image
        run: |
          docker build -t ghcr.io/sg6/epub-translator:latest -f Containerfile .
          docker push ghcr.io/sg6/epub-translator:latest